.main-container {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.url-input {
  width: 80%;
}
.get-button {
  margin-top: 1em;
}
.message {
  display: none;
  width: 60%;
  margin-top: 2em;
}
